<% layout('layout/boilerplate') %>


    <div class="row pb-3">
        <div class="col-6">
            <div class="card mb-5">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text text-muted">
                        <%= campground.location %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= campground.description %>
                    </li>
                    <li class="list-group-item">€<%= campground.price %>/night</li>
                </ul>
                <% if (currentUser && campground.author.equals(currentUser._id)){ %>
                    <div class="card-body">
                        <div class="container text-center">
                            <div class="row row-cols-auto">
                                <div class="p-1">
                                    <a class="card-link btn btn-primary"
                                        href="/campgrounds/<%= campground._id %>/edit">Edit</a>

                                </div>
                                <div class="p-1">
                                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            Submitted by: @<%= campground.author.username %>
                        </div>
            </div>
        </div>
        <div class="col-6">
            <% if (currentUser){ %>
                <h3>Leave a Review</h3>
                <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-3 validated-form"
                    novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                <% } else {%>
                    <div class="mb-3">
                        Login or Register to leave a review!
                    </div>
                    <% } %>

                        <h3>Reviews:</h3>

                        <% for (let review of campground.reviews) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= review.rating %> stars
                                    </h5>
                                    <p class="card-text text-muted">
                                        <%= review.body %>
                                    </p>
                                    <% if (currentUser && review.author.equals(currentUser._id)){ %>
                                        <form
                                            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                                <div class="card-footer text-muted">
                                    Review by: @<%= review.author.username %>
                                </div>
                            </div>

                            <% } %>
        </div>
    </div>